# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Environment config
*.config
*.toml
*.env

# Project residue
*.log

# Temporary file descriptors
*.swp
*.swap

# Manuel copies
*.save
*.bak
*.back
*.backup

# Local builds
*.exe
